* {
  box-sizing: border-box;
}
@media screen and (min-width: 1024px) {
}

.Container {
  width: 100%;
  height: 99dvh;
  display: flex;
  justify-content: center;
  gap: 5px;
  padding: 1dvh;
}
.LeftContent {
  flex: 75;
  min-height: 100%;
  height: fit-content;
  background-color: #eff8fa;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 5px;
}
.APIInfo {
  width: 98%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  padding: 10px;
}
.Coins {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 10px;
  height: 75px;
  width: 98%;
  background-color: #fff;
  border-radius: 15px;
}
.Coins:hover {
  background-color: #3ca6b9;
  cursor: pointer;
}
.Coins div {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.CoinImage {
  width: 50%;
  height: 95%;
  border-radius: 15px;
}
.PaginationContainer {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.RightContent {
  flex: 25;
  min-height: 95dvh;
  height: fit-content;
  border-radius: 15px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 5px;
  padding: 5px;
  margin-top: 1dvh;
}

.SelectCoinLogo {
  height: 40vh;
  width: 100%;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3ca6b9;
}
.SelectCoinInfo {
  height: 50vh;
  width: 100%;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.coinImage {
  width: 85%;
  height: 85%;
}

@media screen and (max-width: 1024px) {
  .Container {
    width: 100%;
    height: fit-content;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    gap: 1dvh;
  }
  .LeftContent {
    width: 100%;
  }
  .APIInfo {
    padding: 5px;
  }
  .RightContent {
    width: 100%;
    min-height: 15dvh;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 2%;
  }
  .SelectCoinLogo {
    height: 20dvh;
    width: 15%;
  }
  .SelectCoinInfo {
    height: 20vh;
    width: 85%;
    flex-direction: row-reverse;
    gap: 2%;
    text-align: center;
    line-height: 25px;
  }
}
